@model IEnumerable<RestaurantRaterMVC.Models.Restaurant.RestaurantListItem>

    @{
        ViewData["Title"] = "Restaurant Index";
    }

    <h1>Restaurant Index</h1>
    <p>
        @Html.ActionLink("Create Restaurant", "Create")
        <a asp-action="Create">Create Restaurant</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RestaurantName)
                </th>
            </tr>

        </thead>
        <tbody>
             
        </tbody>
    </table>